<robot name="labyr1" version="1.0">
  <joint name="roof_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 8.18695"/>
    <parent link="floor_link"/>
    <child link="roof_link"/>
  </joint>
  <joint name="wall1_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 -9.89420 4.09747"/>
    <parent link="floor_link"/>
    <child link="wall1_link"/>
  </joint>
  <joint name="wall2_joint" type="fixed">
    <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 9.89166 4.09747"/>
    <parent link="floor_link"/>
    <child link="wall2_link"/>
  </joint>
  <joint name="wall3_joint" type="fixed">
    <origin rpy="0.00000 0.00000 1.57080" xyz="-9.91605 -0.00099 4.09747"/>
    <parent link="floor_link"/>
    <child link="wall3_link"/>
  </joint>
  <joint name="wall4_joint" type="fixed">
    <origin rpy="0.00000 0.00000 1.57080" xyz="9.90309 -3.79465 4.09747"/>
    <parent link="floor_link"/>
    <child link="wall4_link"/>
  </joint>
  <joint name="wall5_joint" type="fixed">
    <origin rpy="0.00000 0.00000 1.57080" xyz="-0.10545 3.84086 4.09747"/>
    <parent link="floor_link"/>
    <child link="wall5_link"/>
  </joint>
  <link name="floor_link">
    <visual name="floor">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="20.00000 20.00000 0.20000"/>
      </geometry>
    </visual>
  </link>
  <link name="roof_link">
    <visual name="roof">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="Material.004"/>
      <geometry>
        <box size="20.00000 20.00000 0.20000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall1_link">
    <visual name="wall1">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <material name="Material.004"/>
      <geometry>
        <box size="20.00000 0.20000 8.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall2_link">
    <visual name="wall2">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="20.00000 0.20000 8.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall3_link">
    <visual name="wall3">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="20.00000 0.20000 8.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall4_link">
    <visual name="wall4">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="12.00000 0.20000 8.00000"/>
      </geometry>
    </visual>
  </link>
  <link name="wall5_link">
    <visual name="wall5">
      <origin rpy="0.00000 0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
      <geometry>
        <box size="12.00000 0.20000 8.00000"/>
      </geometry>
    </visual>
  </link>
  <material name="Material.004">
    <color rgba="0.80000 0.32549 0.23922 1.00000"/>
  </material>
</robot>